body {
    font-size: 18px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
}

.terminal {
    display: inline-block;
    border: 1px solid white;
    max-width: 900px;
    width: 90%;
    text-align: left;
}

.terminal-head {
    padding: 4px 7px 0px 7px;
    background-color: rgb(63, 63, 63);
}

.terminal-body {
    padding: 10px;
}

.help {
    color: greenyellow;
    display: inline-block;
    margin: null;
    padding: null;
    width: 100%;
}

.terminal p {
    margin: 0;
    padding: 0;
    line-height: 1.5;

}

.terminal .prompt {
    display: inline-block;
    padding-right: 5px;
    font-weight: bold;
}

.terminal input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    width: 95%;
}

.error {
    color: rgb(255, 101, 101);
}

.small {
    font-size: 14px;
}

input[type="button"] {
    background-color: white;
    outline: auto;
    color: black;
    border: auto;
}